include ../includes/vars
doctype html
html(
  dir="rtl",
  lang="ar"
)

    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description", content="Noda Healthy Products")
        block link
          link(rel="stylesheet", href="style.css")
        title Noda Healthy Products 
    body 
      block body
      footer
        h2 للتواصل معنا
        p رقم الهاتف: 01068977219
        p صفحة الفيسبوك: 
          a(href="https://www.facebook.com/groups/1544081465733863/", target="_blank")  Noda Healthy Products
        p للانضمام لمجموعة الواتس: 
          a(href="https://chat.whatsapp.com/JFMbo2s9Hi63xrJxxHo6tD", target="_blank")  نظافة وتوفير Greenway
        p للانضمام لمجموعة التليجرام:
          a(href="https://t.me/+Q6Xk0FG2idg0NzZk", target="_blank")  نظافة وصحة Greenway_Tupperware
        .container
          p
            | abdelrhmanlearn@gmail.com &copy; 2022 |
            i.fa.fa-value(aria-hidden='true') &nbsp;