- 
  let faq = [
    [
      "ููุงุฐุง ูุฎุชุงุฑ ููุชุฌ ุตุญูุ",
    "ูู ูุญุงูุธ ุนูู ุตุญุชูุง ูุจูุฆุชูุง ูุธููุฉ."
    ],  
    [
      "ููุงุฐุง ูุฎุชุงุฑ ูุฐุง ุงูููุชุฌ ุจุงูุฐุงุช ุฏูู ุบูุฑูุ", 
      "ูุงูู ูู ููุงู ููุซูู ููุฌุฑุจ ูู ูุฏุฉ ูุจูุฑุฉ."
    ], 
    [
      "ูู ุงูููุชุฌ ุบุงูู ุจุงููุณุจุฉ ููููุชุฌุงุช ุงูููุงุซูู ููุ",
      "ููุงุฏ ูููู ููุณ ุงูุณุนุฑ ูููู ุฃุนูู ุฌูุฏุฉ" 
    ]
  ]
  let greenwayFaq = [
    [
      "ูุนูู ุงูู greenway..",
      [
        "ูุนูู ุดุฑูุฉ ุตุฏููุฉ ููุจูุฆุฉ ูุฏููุง ุชุญุงูุธ ุนูู ุงูุจูุฆุฉ ูุชุญูููุง ูู ุฃุถุฑุงุฑ ุงููููุงููุงุชโ",
        " ูููุง ูููุฃุฌูุงู ุงููู ุฌุงูุฉ ูู ุจุนุฏูุง..."
      ]
    ],
    [
      "ูุนูู ุจุชุนูู ุงููุุุ",
      [
        "1/ููุชุฌุงุช ุงููุงูุงุฌูู ูุฏูู ููุท ุจูุณุชุฎุฏููุง ูููุธุงูุฉ ูุงูุนูุงูุฉ ุงูุดุฎุตูุฉ ูุงููุธุงูุฉูุงูุนูุงูุฉ ุจุงูุจูุช ุจุฏูู ุงู ูููุงููุงุช..",
        "2/ููุชุฌุงุช ุดุงุฑูู...ูุฏูู ุนุจุงุฑุฉ ุนู ูุงุณูุงุช ุทุจูุนูุฉ ุจูุณุจุฉ 100%ูุฒููุช ุทุจูุนูุฉ ูู ุฃุฌูุฏ ุงูุบุงุจุงุช",
        "3/ููููุงุช ุบุฐุงุฆูุฉ ุณูุงุก ุนูู ููุฆุฉ ูุดุฑูุจุงุช ุฃู ุฃูุฑุงุต ูููู ูุนุชูุฏุฉ ูู ูุฒุงุฑุฉ ุงูุตุญุฉ ุงูุฑูุณูุฉ ููุณูุง"
      ]
    ],
    [
      "ูุงูููุงู ูุฏู ุจุตูุฑุฉ ุนูููุฉ ูุนูู",
      [
        "๐นูุนูู ููุชุฌุงุช ุฑูุณูุฉ ุจุชูููุฉ ูุงุจุงููุฉ",
        "๐นูุนูู ุชูุถูู ุงูุชูุงุฌุฉ ู ุฎูุณ ุฏูุงุฆู ",
        "๐นูุนูู ุชูุถูู ุณูุฑุงููู ุงููุทุจุฎ ููู ู ูุต ุณุงุนุฉ ุจุงููุชูุฑ",
        "๐นูุนูู ุชููุถู ุงูุดูุฉ ูู ุบูุฑ ููุทุฉ ุชุฑุงุจ ุชูุน ุนูู ุงูุฃุฑุถ ููู ุบูุฑ ูุงุตุฏุฑู ููุฌุนู",
        "ูุนูู ุชููุนู ุงูุฎุดุจ ูู ุบูุฑ ุจููุฏุฌ",
        "๐นูุนูู ุชููุนู ุงูุฒุฌุงุฌ ููุจุฑู ู ุซูุงูู ูุจุฏูู ุฌูุงูุณ ููุง ุฌุฑุงูุฏ ููุง ุงู ุญุงุฌุฉ",
        "๐นูุนูู ุชูุถูู ูุฌูู ุจุฏูู ุบุณูู ",
        "๐นูุนูู ุชูุณุญู ุงููุงููุงุฌ ู ุซูุงูู ุจููุทุฉ ููู ",
        "๐นูุนูู ุชุนููู ุณุจุง ูุงูุช ู ุงูุจูุช ูู ุงุณุจูุน ูุชูุถูู ุนุฑูุณุฉ ๐๐ธ ุฏุงุฆูุง",
        "๐นูุนูู ูุดุฑูุจุงุช ุตุญูุฉ ููููุฏุฉ ูุนูู ุจุดุฑุฉ ูุถุฑุฉ ููุดุฏูุฏุฉ ูุตุญูุฉ ",
        "๐นูุนูู ุจูุช ุจูููุน ูุจูุจุฑู ๐๐ ุจุณูููุฉ ุจุฏูู ุงู ูููุงููุงุช",
      ]
    ]
  ]